In [1]:
import os
os.chdir('D:\\CV Nagwa\\Data Analysis')

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('Call Center.xlsx')

In [4]:
df.shape

(5000, 10)

In [5]:
df.head(20)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,00:02:11,3.0
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,00:00:37,2.0
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,00:01:00,3.0
5,ID0006,Stewart,2021-01-01,10:00:29,Technical Support,N,N,NaN,NaN,NaN
6,ID0007,Diane,2021-01-01,10:22:05,Payment related,Y,Y,24.0,00:03:40,2.0
7,ID0008,Diane,2021-01-01,10:22:05,Payment related,Y,Y,22.0,00:00:38,4.0
8,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
9,ID0010,Jim,2021-01-01,11:13:55,Streaming,Y,Y,78.0,00:01:04,3.0
10,ID0011,Joe,2021-01-01,11:15:22,Payment related,N,N,NaN,NaN,NaN
11,ID0012,Greg,2021-01-01,11:15:22,Payment related,Y,Y,50.0,00:00:32,4.0
12,ID0013,Joe,2021-01-01,11:52:48,Payment related,Y,Y,84.0,00:03:34,3.0
13,ID0014,Martha,2021-01-01,11:52:48,Contract related,Y,Y,89.0,00:05:44,3.0
14,ID0015,Becky,2021-01-01,11:55:41,Admin Support,Y,Y,48.0,00:03:47,4.0
15,ID0016,Becky,2021-01-01,11:55:41,Admin Support,Y,Y,63.0,00:05:26,2.0
16,ID0017,Greg,2021-01-01,11:57:07,Technical Support,Y,Y,45.0,00:05:32,5.0
17,ID0018,Becky,2021-01-01,11:57:07,Admin Support,N,N,NaN,NaN,NaN
18,ID0019,Jim,2021-01-01,12:01:26,Streaming,N,N,NaN,NaN,NaN
19,ID0020,Jim,2021-01-01,12:01:26,Contract related,Y,Y,101.0,00:02:27,3.0

In [6]:
df.isna().sum()

Call Id                         0
Agent                           0
Date                            0
Time                            0
Topic                           0
Answered (Y/N)                  0
Resolved                        0
Speed of answer in seconds    946
AvgTalkDuration               946
Satisfaction rating           946
dtype: int64

In [13]:
df.dropna(inplace=True)

In [30]:
df.shape

(5000, 12)

In [7]:
df1=df['Date'].str.split('-',expand=True)

In [8]:
df['year']=df1[0]
df['month']=df1[1]
df['day']=df1[2]
df.drop(columns=['Date'],inplace=True)

In [20]:
df.head()

,Call Id,Agent,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,Satisfaction rating,year,month,day,minutes_talk_duration,seconds_talk_duration,Hour,Minute
0,ID0001,Diane,Contract related,Y,Y,109.0,3.0,2021,01,01,02,23,09,12
1,ID0002,Becky,Technical Support,Y,N,70.0,3.0,2021,01,01,04,02,09,12
2,ID0003,Stewart,Contract related,Y,Y,10.0,3.0,2021,01,01,02,11,09,47
3,ID0004,Greg,Contract related,Y,Y,53.0,2.0,2021,01,01,00,37,09,47
4,ID0005,Becky,Payment related,Y,Y,95.0,3.0,2021,01,01,01,00,10,00

In [12]:
df['Time']=df['Time'].astype(str)
df['AvgTalkDuration']=df['AvgTalkDuration'].astype(str)

In [13]:
df2=df['AvgTalkDuration'].str.split(':',expand=True)

In [14]:
df['minutes_talk_duration']=df2[1]
df['seconds_talk_duration']=df2[2]
df.drop(columns=['AvgTalkDuration'],inplace=True)

In [15]:
df3=df['Time'].str.split(':',expand=True)

In [19]:
df['Hour']=df3[0]
df['Minute']=df3[1]
df.drop(columns=['Time'],inplace=True)

In [31]:
df.to_excel('Call Center(answered& not).xlsx',index=False)